<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="ContactManagerEntities" connectionString="metadata=res://*/Entities.ContactsModel.csdl|res://*/Entities.ContactsModel.ssdl|res://*/Entities.ContactsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlint;initial catalog=ContactManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ContactManagerEntities" connectionString="metadata=res://*/Entities.ContactsManagerModel.csdl|res://*/Entities.ContactsManagerModel.ssdl|res://*/Entities.ContactsManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlint;initial catalog=ContactManager;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    
    <appSettings>
        <add key="ContactManagerConnectionStringName" value="ContactManagerEntities"/>
    </appSettings >

</configuration>